*{
  box-sizing:border-box;
}

body{
  font-family:Arial;
}

.chat-room{
  background:#eff3f7;
  margin:0 auto;
  font-size:0;
  border-radius:5px;
  overflow:hidden;
}

.chat-side{
  background-color:#3b3e49;
  font-size:25px;
  max-height:800px;
  overflow-y: auto;
}

.chat-main{
  width:490px;
  max-height:800px;
  display:inline-block;
  font-size:15px;
  vertical-align:top;
}

.chat-side ul{
  list-style-type:none;
}

.chat-side li{
  padding:0px 0px 10px 10px;
}

.chat-side li:hover{
  background-color:#5e616a;
}

h2,h3{
  margin:0;
}

.chat-side li div{
  display:inline-block;
  vertical-align:top;
  margin-top:12px;
}

.chat-side li h2{
  font-size:14px;
  color:#fff;
  font-weight:normal;
  margin-bottom:5px;
}

.chat-side li h3{
  font-size:12px;
  color:#7e818a;
  font-weight:normal;
}

#chat{
  padding-left:0;
  margin:0;
  list-style-type:none;
  overflow-y:auto;
  height:480px;
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
}
#chat li{
  padding:10px 30px;
}
#chat h2,#chat h3{
  display:inline-block;
  font-size:13px;
  font-weight:normal;
}
#chat h3{
  color:#bbb;
}
#chat .entete{
  margin-bottom:5px;
}
#chat .message{
  padding:20px;
  color:#fff;
  line-height:25px;
  max-width:90%;
  display:inline-block;
  text-align:left;
  border-radius:5px;
}

#chat .me{
  text-align:right;
}

#chat .bot{
  text-align:center;
}

#chat .you .message{
  background-color:#58b666;
}

#chat .me .message{
  background-color:#6fbced;
}

#chat .bot .message{
  background-color:#2C3E50;
}

#chat .system .message{
  background-color: #c4ced7;
}

.chat-main .chat-footer{
  padding:20px;
}
.chat-main .chat-footer textarea{
  resize:none;
  border-radius:3px;
  font-size:13px;
}
.chat-main .chat-footer textarea::placeholder{
  color:#ddd;
}
.chat-main .chat-footer .btn-link{
  text-decoration:none;
  text-transform:uppercase;
  font-weight:bold;
  color:#6fbced;
}
